name: Release JAR on GitHub Release

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build


      - name: Find JAR files
        id: findjars
        run: |
          find . -type f -name "*.jar" -path "*/build/libs/*" > jars.txt
          cat jars.txt

      - name: Upload JARs to Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            $(cat jars.txt)
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
